textarea {
  width: 620px;
  display: inline-block;
  vertical-align: top;
}

div {
  display: inline-block;
  vertical-align: top;
  width: 730px;
}

button {
  display: inline-block;
  vertical-align: top;
  height: 65px;
}

.btn-primary {
  background-color: green;
  border-color: green;
}
