#header {
  background-color: #FFFFFF;
  height: 100px;
  margin: 0px;
  padding: 0px;
}

.img {
  align: left;
}

#content {
  background-color: #adbedb;
  height: 300px;
  margin: 0;
  padding: 0;
}

#footer {
  background-color: #00802F;
  height: 50px;
  margin: 0;
  padding: 0;
  border-top: 1px solid black;
}

body {
  margin: 0;
}
