<div>
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{{title}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <app-nick-name></app-nick-name>
      </div>
      <div class="col-sm-12 col-md-8">
        <app-chat-history></app-chat-history>
        <app-chat-bar></app-chat-bar>
        <div>{{message}}</div>
      </div>
    </div>
    <div id="modal-wrapper" class="modal">
      <form class="modal-content animate" action="/action_page.php">

        <div class="imgcontainer">
          <img src="\assets\images\User_Avatar.png" alt="Avatar" class="avatar">
          <h1 style="text-align:center">Modal Popup Box</h1>
        </div>

        <div class="container">
          <input type="text" placeholder="Enter Username" [(ngModel)]="nickname">
          <button type="submit" (click)="createNickname(nickname)" >Login</button>
        </div>

      </form>
    </div>
  </div>
  <app-footer></app-footer>
</div>
