/* You can add global styles to this file, and also import other style files */
/* 
div {
  background-color: silver;
} */

.col-sm-12 col-md-4{
  background: white;
  width: 200px;
}

.col-sm-12 col-md-8{
  background: lightgrey;
}

.col-sm-12 col-md-12 {
  background: white;
}
